<div class="row">
	<div class="col-xs-12">
		<img
			[src]="(recipe$ | async).imagePath"
			[alt]="(recipe$ | async).name"
			class="img-responsive"
			style="max-height: 300px"
		>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>
			{{ (recipe$ | async).name }}
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div
			class="btn-group"
			appDropdown
		>
			<button
				type="button"
				class="btn btn-primary dropdown-toggle"
			>
				Manage Recipe
				<span class="caret"></span>
			</button>

			<ul class="dropdown-menu recipe-menu">
				<li
					(click)="addToShoppingList()"
				>
					<a>To shopping list</a>
				</li>
				<li
					routerLink="edit"
				>
					<a>Edit</a>
				</li>
				<li
					(click)="deleteRecipe()"
				>
					<a>Delete</a>
				</li>
			</ul>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		{{ (recipe$ | async).description }}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<ul>
			<li *ngFor="let ingredient of (recipe$ | async).ingredients">
				{{ ingredient.name }} ({{ ingredient.quantity }})
			</li>
		</ul>
	</div>
</div>
