<form #f="ngForm" (submit)="signUp(f)">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="form-goup">
        <label for="email">Email</label>
        <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            ngModel
        >
      </div>
      <div class="form-goup">
        <label for="password">Password</label>
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            ngModel
        >
      </div>

      <hr>
      <button
          class="btn btn-block btn-success"
          type="submit"
      >
        Sign in
      </button>
    </div>
  </div>
</form>