<div class="row">
	<div class="col-xs-12">
		<form #f="ngForm">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input
							[(ngModel)]="editedItem.name"
							minlength="1"
							type="text"
							id="name"
							name="name"
							class="form-control"
					>
				</div>

				<div class="col-sm-2 form-group">
					<label for="quantity">Amount</label>
					<input
							[(ngModel)]="editedItem.quantity"
							min="1"
							type="number"
							id="quantity"
							name="quantity"
							class="form-control"
					>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<button
							class="btn btn-success"
							*ngIf="!editedItem.id"
							[disabled]="!f.valid"
							(click)="onAddNew()"
					>
						Add
					</button>

					<button
							class="btn btn-success"
							*ngIf="editedItem.id"
							[disabled]="!f.valid || areIdentical(editedItem, shoppingListItem)"
							(click)="onChange()"
					>
						Save change
					</button>

					<button
							class="btn btn-danger"
							[disabled]="!editedItem.id"
							(click)="onDelete()"
					>
						Delete
					</button>

					<button
							class="btn btn-primary"
							(click)="reset()"
					>
						Clear
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
