<div class="row">
	<div class="col-xs-12">
		<form #f="ngForm">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input
						class="form-control"
						id="name"
						minlength="1"
						name="name"
						ngModel
						required
						type="text"
					>
				</div>

				<div class="col-sm-2 form-group">
					<label for="quantity">Amount</label>
					<input
						class="form-control"
						id="quantity"
						name="quantity"
						ngModel
						pattern="^[1-9]+[0-9]*$"
						required
						type="number"
					>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<button
						class="btn btn-success"
						*ngIf="!editMode"
						[disabled]="!f.valid"
						(click)="onAddNew(f.value)"
					>
						Add
					</button>

					<button
						class="btn btn-success"
						*ngIf="editMode"
						[disabled]="!f.valid || areEqual(f.value, editedItem)"
						(click)="onUpdate(editedItemIndex, f.value)"
					>
						Update
					</button>

					<button
						class="btn btn-danger"
						*ngIf="editMode"
						(click)="onDelete(editedItemIndex)"
					>
						Delete
					</button>

					<button
						class="btn btn-primary"
						(click)="reset()"
					>
						Clear
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
