<h1>
	Servers
</h1>

<label>
	Server name

	<input
		class="form-control"
		[(ngModel)]="newServerName"
	>
</label>

<button
	[disabled]="!allowAddServer"
	(click)="onServerCreation()"
	class="btn btn-primary"
>
	Add server
</button>

<p *ngIf="serverCreated; else noServer">
	Server: "{{ newServerName }}" created.
</p>

<!--<app-server-->
<!--*ngFor="let server of servers"-->
<!--[server]="server"-->
<!--[someChangingInput]="newServerName"-->

<!--&gt;</app-server>-->

<app-server
	*ngFor="let server of servers"
	[server]="server"
	[someChangingInput]="objectWithChangingProp"

></app-server>


<ng-template #noServer>
	<p>
		No server created!
	</p>
</ng-template>
